html {
  font-family: sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}


ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
}

.header_container {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid #dcdcdc;
}

.logo {
  width: 65px;
  height: 65px;
  background: #000000;
  display: block;
}


.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav_list {
  display: flex;
  gap: 35px;
}

.nav_list a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  text-decoration: underline;
}

.phone {
  margin-left: auto;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  text-decoration: underline;
}

.nav_list a,
.phone {
  font-weight: 600;
}


