* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f5f5f5;
  padding: 40px;
}


.form {
  width: 430px;
  background: #fff;
  border: 2px solid #9c9c9c;
  border-radius: 12px;
  padding: 20px;
}

.form_title {
  font-size: 22px;
  margin-bottom: 20px;
}


.form_label {
  display: block;
  margin-bottom: 14px;
  font-size: 15px;
}


.form input,
.form textarea {
  width: 100%;
  height: 42px;
  margin-top: 6px;
  padding: 10px 12px;
  border: 2px solid #9c9c9c;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
}



.form input::placeholder,
.form textarea::placeholder {
  color: #b3b3b3;
}


.form textarea {
  height: auto;
  min-height: 50px;
  max-height: 180px;
  resize: vertical;
}


.form_checkbox {
  display: flex;
  align-items: center;
  margin: 18px 0;
  font-size: 15px;
}


.form_checkbox input {
  width: 16px;
  height: 16px;
}

.form_button {
  font-size: 15px;
  border-radius: 3px;
  border: 2px solid #cfcfcf22;
  cursor: pointer;
}