.some-text {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  font-weight: 300;
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.highlight {
  text-align: center;
}

.wavy-line {
  text-decoration: overline wavy;
}

.double-underline {
  text-decoration: underline double;
}

.spacing-words {
  letter-spacing: 5px;
}

.spacing-letters {
  letter-spacing: 5px;
}

.purple-text {
  color: rgb(255, 0, 255);
  -webkit-text-stroke: 1px rgb(49, 20, 20);
}