.cards {
  border: 1px solid #000000;
  border-radius: 20px 0 0 20px;
  overflow: auto;
  height: 400px;
  width: 1000px;
  background-color: rgb(242, 235, 255);
}

.block {
  box-sizing: border-box;
  border: 0px solid #000000;
  border-radius: 20px 20px;
  box-shadow: inset 3px 3px 22px -7px rgb(212, 164, 164);
  height: 160px;
  max-width: 190px;
  padding: 1px 20px;
  margin: 5px;
  display: inline-block;
  background-color: burlywood;
}